bin/
obj/
*.user
*.suo
*.svclog
*.userprefs
/.vs/
*.db
*.db-shm
*.db-wal
appsettings.Development.json
**/appsettings.Development.json
**/publish/
*.Publish.xml
*.pubxml
*.pubxml.user
*.log
*.dmp
node_modules/
dist/
build/
.npmrc
.pnpm-store/
.yarn/*
!.yarn/versions
.env
.env.*
# Vite/Next/etc cache
.cache/
.vite/
.next/
out/
# OS / Editor
.DS_Store
Thumbs.db
*.iml
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
